* {
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    
} 

body{
    background-color: #fafafa;
}

#nav-horiz {

    width: 100%;
    background-color: white;
    border-bottom: solid rgb(207, 207, 207) 1px;

}

.menu-horiz {
    height: 60px;
    font-size: 0.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.menu-horiz__item {
    padding:20px;
    color: red;
    text-decoration: none;
    display: block;
}

#recherche {
    width: 500px;
}

#format-loupe {
    width: 18px;
    border: solid 1px grey;
    background-color: rgb(219, 219, 219);
}


#nav-verti {

    position: fixed;
    float : left;
    text-decoration: none;
    background-color: #f1f1f1;
}

.menu-verti {

    width: 220px;
    font-size: 0.8rem;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    color:  #fafafa;
    align-items: flex-start;
}

.menu-verti__item {
    font-size: 0.9rem;
    width: 230px;
    padding: 17px;
    color:black;
    text-decoration: none;
    display: block;
}
#accueil{
    font-weight: bold;
}
 
#theBest{
    font-size: 0.8rem;
    color:rgb(136, 135, 135);
    font-weight: bold;
}

.menu-verti__item:hover {
    background-color: #e6e6e6;
}

section {
    margin-left : 230px;
    margin-top: 30px;
}

#conteneur {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ligne-title {
    width: 90%;
    margin-left: 50px;
    padding-bottom: 50px;
    border-bottom: solid 2px black;
    display: flex;
    flex-direction: row;

}


.ligne-video {

    margin-top: 20px;
    margin-left: 50px;
}

.element {
	display: flex;
    flex-direction: row;
	align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 10px;

}

h1 {
    font-size: 1rem;
    font-weight: bold;
}

h2 {
    font-size: 0.8rem;
    font-weight: bold;
    width: 213px;
    margin: 2px;

}



.video {
    width: 100%;
    margin: 2px;
    display: flex;

}

h2{
    float: bottom;
}

.format-video {
    width: 213px;
    height: 120px;
}

#logo {
    width: 60px;
    align-items: top;
}